/*General*/
body {
    width: 800px; 
    margin: 0 auto;
    text-align: center;
    background: lavenderblush;
}
img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
}
h1 {
    text-align: center;
    color: pink;
}
h2 {
    text-align: center;
}
/* Layout */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url(images/phone_globe.jpeg);
    background-repeat: no-repeat;
}

header {
  border: 5px solid black;
  border-bottom: 0;
}
footer {
  border: 5px solid black;
  border-top: 0;
}

div {
    border: 5px solid peachpuff;
    display: flex;
}
.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}